$theme: #00BCD4;
$fontColor: #314659;
$borderColor: #ebedf0;

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@mixin rotate() {
    animation: rotate .6s linear infinite;
}

@mixin transition() {
    transition: all .3s;
}
