@import '~@/styles/variable.scss';

.container {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid $borderColor;

    .tag {
        display: inline-block;
        box-sizing: border-box;
        padding: 0 20px;
        text-decoration: none;
        cursor: pointer;

        &.active {
            color: $theme;
            border-bottom: 2px solid $theme;
        }
        &:hover {
            @extend .active;
        }
    }
}
